[submodule "chef/cookbooks/spread"]
	path = chef/cookbooks/spread
	url = git@github.com:raxsavvy/chef-spread.git
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = https://github.com/cookbooks/python.git
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
