<div class="hero-unit media">
  <img class="img-rounded pull-left" src="{{ url_for('static', filename = 'images/margarine-logo.svg') }}" alt="Margarine Logo">
  <p class="media-body">
    Margarine is a demonstration application for
    <a href="http://unlocked.io/">Unlocked</a>.  It showcases techniques and
    ideas for architecting cloud applications.  This application is loosely
    based on the fantastic services,
    <a href="http://www.readability.com">Readability</a> &amp;
    <a href="https://delicious.com/">Delicious</a>.
  </p>
</div>
