<div class="span12">
  <img style="float: left; margin-right: 2em" src="{{ url_for('static', filename = 'images/logo.svg') }}" alt="Margarine Logo">
  <p class="lead well">
    Margarine is a demonstration application for
    <a href="http://unlocked.io/">Unlocked</a>.  It showcases techniques and
    ideas for architecting cloud applications.  This application is loosely
    based on the fantastic services,
    <a href="http://www.readability.com">Readability</a> &amp;
    <a href="https://delicious.com/">Delicious</a>.
  </p>
</div>
