<div class="hero-unit">
  <p>
    Margarine is a demonstration application for
    <a href="http://unlocked.io/">Unlocked</a>.  It showcases the
    Pillars of Cloudiness (below) while being a fully usable
    application.

    <ul>
      <li>Parallel</li>
      <li>Modular</li>
      <li>Horizontally Scalable</li>
      <li>Agile</li>
      <li>Secure</li>
    </ul>
  </p>

  <p>
    While being fully functional, this application provides similar
    (but not a superset of) functionality to that provided by the 
    fantastic services, 
    <a href="http://www.readability.com">Readability</a> &amp;
    <a href="https://delicious.com/">Delicious</a>.
    <!-- TODO Update the above phrasing -->
  </p>
</div>
