{% extends "base.html" %}

{# TODO Overwrite the title with Javascript #}
{# TODO SEO completely killed? #}
{% block title %}Margarine—Article{% endblock title %}

{# TODO Add Description Block #}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {% include "sidebar.html" %}
    </div>
    <div class="span9">
      <!-- TODO Fill in article items from Javascript. -->
      <div class="row-fluid">
        <div class="span10 article-title"></div>
      </div>
      <div class="row-fluid">
        <div class="span8 offset2 article-author"></div>
      </div>
      <div class="row-fluid">
        <div class="span8 offset2 article-date"></div>
      </div>
      <div class="row-fluid">
        <div class="span12 article-text"></div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block js %}
<!-- TODO Update security if necessary -->
<script type="text/javascript">document.write(document.domain)</script>
<!--<script type="text/javascript">document.domain = "{{ domain }}"</script>-->
<script src="{{ url_for('static', filename = 'js/article.js') }}"></script>
<!-- TODO Ordering of scripts correct? -->
<script type="text/javascript">updateArticle("{{ api_endpoint }}")</script>
{% endblock js %}
