<div class="sidebar well well-small">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="{{ url_for("home_page") }}"><i class="icon-home"></i></a></li>
        <li><a href=""><i class="icon-star-empty"></i></a></li>
      </ul>
    </div>
  </div>

  <h5>Article Information</h5>
  <dl class="dl-horizontal">
    <dt>Title</dt><dd class="article-title"></dd>
    <dt>Author</dt><dd class="article-author"></dd>
    <dt>Date</dt><dd class="article-date"></dd>
  </dl>

  <h5><i class="icon-tags"></i> Article Tags</h5>
  <div class="article-tags"></div>
</div>
