<form class="form-signin">
  <h2 class="form-signin-heading">Please Sign In</h2>
  <input type="text" class="input-block-level" placeholder="Username">
  <input type="password" class="input-block-level" placeholer="Password">
  <div class="row-fluid">
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember Me
      </label>
      <a href="">Forgot Password</a><!-- TODO Display Shadow Box for Username -->
    </div>
    <div class="span4 offset4 text-right">
      <button class="btn btn-large btn-primary" type="submit">Sign In</button>
    </div>
  </div>
</form>
