<form id="form-signin">
  <fieldset>
    <legend>
      Sign In <small class="muted">or <a href="">Sign Up</a></small>
    </legend>

    <input id="username" type="text" placeholder="Username"><br />

    <div class="input-append">
      <input id="password" type="password" placeholder="Password">
      <button type="submit" class="btn">Forgot</button>
    </div>

    <label class="checkbox" for="remember-me">
      <input id="remember-me" type="checkbox">
      Remember Me
    </label>

    <button type="submit" class="btn btn-primary btn-small">Sign In</button>
  </fieldset>
</form>
