{% extends "base.html" %}

{% block title %}Margarine—Zen Browsing and Indexing{% endblock title %}

{# TODO Add Description Block #}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span6 offset3">
          {% include "form.submit.html" ignore missing %}
        </div>
        <div class="span6 offset3">
          {% include "form.signin.html" ignore missing %}
        </div>
      </div>
    </div>
    <div class="span6">
      {% include "about.html" %}
      <!-- TODO Article Teaser -->
    </div>
  </div>
</div>
{% endblock body %}
