{% extends "base.html" %}

{% block title %}Margarine—Zen Browsing and Indexing{% endblock title %}

{# TODO Add Description Block #}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="span6 offset3">
        {% include "form.signin.html" ignore missing %}
        <div class="text-center">
          <h3>or</h3>
          <a href="">Sign Up</a> | <a href="">Add Article</a>
        </div>
      </div> 
    </div>
    <div class="span6">
      {% include "about.html" %}
      <!-- TODO Article Teaser -->
    </div>
  </div>
</div>
{% endblock body %}
